

.btn {
    font-weight: bold;
    background-color: #99454a;
    outline: none;
    position: relative;
    box-shadow: 0 5px 0 #7c3437;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    height: 50px;
}

.btn:active{
    box-shadow: none;
    transform: translateY(5px);
}

.close {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    right: 21%;
    top: 29px;

    overflow: hidden;
    border: none;
    padding: 0;
    width: 2em; height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #51646c;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        top: 15%; left: calc(50% - .0625em);
        width: .125em; height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after { transform: rotate(-45deg); }
}


