

.btn {
    font-weight: bold;
    background-color: #c9c6fd;
    outline: none;
    position: relative;
    box-shadow: 0 5px 0 #a1a0b9;
    color: #131f24;
    border: none;
    border-radius: 10px;
    padding: 0 50px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.selectbutton {
    background-color: #bebcf0;
    box-shadow: none;
    color: #131f24;
    border-bottom: 6px solid rgb(154, 153, 177);
    width: 340px;
    margin: 5px;
}
.exit_button {
    margin: 5px;
    width: 240px;
    color: #ba4748;
    background-color: transparent;
    box-shadow: none;
}

.btn.selectbutton:hover {
    background-color: #c9c7f8;
    box-shadow: none; /* This will overwrite .btn:hover */
}

.btn.selectbutton:active {
    border: none;
}

.btn.exit_button:hover {
    background-color: transparent;
}

.btn:active{
    box-shadow: none;
    transform: translateY(5px);
}

.btn:hover{
    background-color: #cdcbf4;
}

.close {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    right: 19%;
    top: 48px;

    overflow: hidden;
    border: none;
    padding: 0;
    width: 2em; height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #51646c;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        top: 15%; left: calc(50% - .0625em);
        width: .125em; height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after { transform: rotate(-45deg); }
}


