@keyframes loader {
    0% {
        width: 0;
    }
    20% {
        width: 10%;
    }
    25% {
        width: 24%;
    }
    43% {
        width: 41%;
    }
    56% {
        width: 50%;
    }
    66% {
        width: 52%;
    }
    71% {
        width: 60%;
    }
    75% {
        width: 76%;
    }
    94% {
        width: 86%;
    }
    100% {
        width: 100%;
    }
}
.progress-bar span {
    display: block;
}
.bar {
    background: rgb(55, 69, 78);
}

.progress {
    position: relative; /* Make sure the pseudo-element is positioned relative to this container */
    animation: loader 8s ease infinite;
    background: #746ce2;
    color: #fff;
    padding: 5px;
    height: 15px;
    width: 0;
    overflow: hidden;
}

.progress::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 20%; /* Position vertically in the center */
    width: 100%;
    height: 3px;
    background: #7a79ed;
}
.progress-bar {
    left: 50%;
    top: 50px;
    width: 38%;
    max-width: 38%;

    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 10px;

    height: 15px;
    overflow: hidden;
}
