@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
.shake {
    position: fixed; /* Ensures shaking is horizontal only */
    animation: shake 0.3s ease;

}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.fade {
    animation: fadeInOut 1s ease-in-out;
}

.streak-display{
    align-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50px;
    left: 68%;
}

.streak-icon{
    width: 32px; height: 32px;
}
.streak-amount{
    position:  absolute;
    top: 3px;
    left: 40px;

    font-family: 'Poppins', arial, sans-serif;
    color: #ed5f1e;
    font-weight: bold;
    font-size: 18px;
}

